{% extends 'base.html' %}


    {% block title %}
    <title>Perfil</title>
    {% endblock %}
{% block metacontent %}
    <style>
        .fondo{
            background: url("http://{{ request.get_host }}/media/{{ usuario.perfil.foto_perfil_portada }}");
            background-repeat: no-repeat;
            background-size: cover;
         }
    </style>
    <link href="/static/css/post.detail.css"  rel="stylesheet"/>
    <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 marco border ">
                     <h2 class="titulo">{% block titulo %}{{ usuario.username}}{% endblock %}</h2>
                    <div class="row fondo">
                        <div class="col-md-4">
                            <a href="" data-toggle="modal" data-target="#myModal">
                                <img  class="img-thumbnail" style='height: auto; width: 100%; object-fit: contain' src="http://{{ request.get_host }}/media/{{ usuario.perfil.foto_perfil }}"/></a>
                            <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <img  style='height: 100%; width: 100%; object-fit: contain' src="http://{{ request.get_host }}/media/{{ usuario.perfil.foto_perfil }}"/>
                            </div>

                        </div>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="row">
                                <div class="col-md-4 rightAlign">

                                    {% if user.is_authenticated  and user.id == usuario.id %}
                                    <div class="dropdown">
                                        <button class="btn btn-dark btn-small dropdown-toggle" type="button" data-toggle="dropdown">Editar
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'usuarios:actualizar' %}">Actualizar Informacion</a></li>
                                            <li><a class="dropdown-item"href="{% url 'usuarios:cambiar_clave' %}">Cambiar Contraseña</a></li>
                                            <li><a class="dropdown-item"href="{% url 'usuarios:cambiar_correo' %}">Actualizar Email</a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-8"></div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-md-2"></div>
    </div>
    {% block content %}
    <div class="row">
    <div class="col-md-2" ></div>
            <div class="col-md-8">
                     <h2 class="titulo">Publicaciones</h2>
                    <div id="contenido">

                    </div>
            </div>
    <div class="col-md-2" ></div>
    </div>
    {% endblock content %}

 {% block js %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

<script src="/static/js/profile.js" id_user = {{ usuario.id }} type="text/javascript">

</script>


{% endblock %}


{% endblock %}
{% block bot %}
{% endblock %}
