{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block title %}
    <title>Actualizar Perfil</title>
    {% endblock %}
{% block meta-content %}
    <div class="main-profile borde" style="display: flex;flex-direction: column;justify-content: center;">
    <h2 class="titulo">{% block titulo %}Actualizar Perfil{% endblock %}</h2>
    {% block content %}
        <form method="post" enctype="multipart/form-data">
            <div class="form-group form-check">
                {% csrf_token %}
                {{ formulario_usuario | crispy }}
                {{ formulario_perfil | crispy  }}
                <button type="submit">Guardar Cambios</button>
             </div>
        </form>
    {% endblock %}
    </div>
{% endblock %}