{% extends 'base.html' %}
{% load staticfiles %}
{% block extraEstilos %}
    <style>
        .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: dimgrey transparent dimgrey transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
    </style>
    <link href="/static/css/post.detail.css"  rel="stylesheet"/>
{% endblock %}
{% block inicio %}<a class="navbar-brand" href="#" onclick="cargarPosts(1,true)">ezPosts</a> {% endblock %}
 {% block busquedaForm %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id ="buscar" type="search" placeholder="Busqueda" aria-label="Search">
        </form>
       <button class="btn btn-danger my-2 my-sm-0" onclick="return buscarPost()">Buscar Post</button>

  {% endblock %}
{% block titulo %}Posts más recientes{% endblock %}

            {% block lateral %}
				<div class="animated fadeInLeft">
  					<a href="#about">About</a>
  					<a href="#services">Services</a>
  					<a href="#clients">Clients</a>
  					<a href="#contact">Contact</a>
				</div>
				{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-2"></div>
        <div class="col-sm-8 animated fadeInLeft" id="contenido"></div>
        <div class="col-sm-2"></div>

    </div>

    {% block acerca %}{% endblock %}

{% endblock %}

{% block bot %}{% endblock %}

{% block js %}


<script src="/static/js/home.js" type="text/javascript"></script>

{% endblock %}

{% block busquedaPost %}
{% endblock %}