{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block title %}
    <title>Ingreso</title>
    {% endblock %}


    <h2 class="titulo">{% block titulo %}Ingresar{% endblock %}</h2>
{% block content %}
    <link href="/static/css/post.detail.css"  rel="stylesheet"/>
            <div class="col-12 border marco">
            <form method="post">

                {% csrf_token %}
                 {{ form |crispy }}

                    <div class="row">
                            <div class="col-3"></div>
                                 <div class="col-md-3">
                                    <button class="btn btn-outline-danger" type="submit">Login</button>
                                 </div>
                                 <div class="col-md-3">
                                     <a href="{% url 'password_reset'%}">Olvide mi contraseña</a>
                                 </div>
                            <div class="col-3"></div>
                        </div>
                 </form>
                <h3 class="titulo-top"></h3>
                     <div class="main-profile">
                         <div class="row">
                            <div class="col-1"></div>
                                 <div class="col-md-10">
                                     <a href="{% url 'social:begin' 'twitter' %}"><button  class="btn btn-info">Ingresar con Twitter</button></a>
                                 </div>
                            <div class="col-1"></div>
                        </div>
                    </div>

            </div>
    {% endblock %}
