{% extends 'base.html' %}
<style>
{% block fondo %}
        body{
            background-image: url("/static/img/panda.jpg");
        }
{% endblock %}
</style>
{% load crispy_forms_tags %}



    {% block title %}
    <title>Ingreso</title>
    {% endblock %}


{% block metacontent %}
    <div class="row" >
            <div class="col-md-4"> </div>
            <div class="col-md-4 border fondo-transparente-negro">
            <link href="/static/css/post.detail.css"  rel="stylesheet"/>
                <h2 class="titulo">{% block titulo %}Login{% endblock %}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="imgcontainer">
                <img src="/static/img/panda-icon-14.png" alt="Avatar" >
                </div>
                 {{ form |crispy }}
                <button class="btn btn-dark btn-block btn-espaciado">Login</button>
            </form>
            <form method="post" action="{% url 'password_reset'%}">
                {% csrf_token %}
                <button class="btn btn-outline-danger btn-block btn-espaciado">Olvide mi contraseña</button>
            </form>
            <h3 class="titulo-top-claro"></h3>
            <form action="{% url 'social:begin' 'twitter' %}" method="post">
                {% csrf_token %}
                <button  class="btn btn-info btn-block btn-espaciado">Ingresar con Twitter</button>
            </form>

            </div>
           <div class="col-md-4"> </div>
    </div>
{% endblock %}