{% extends 'base.html' %}
{% load crispy_forms_tags %}
<h2 class="titulo">{% block titulo %}Actualizar contenido del Post{% endblock %}</h2>
    {% block content %}
               <link href="/static/css/post.detail.css"  rel="stylesheet"/>
                <div class="col-12 marco border">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        {{ form.media    }}
                        <div class="row">
                            <div class="col-4"></div>
                                 <div class="col-4">
                                    <button type="submit" class="btn btn-dark">Guardar Cambios</button>
                                 </div>
                            <div class="col-4"></div>
                        </div>

                    </form>
            </div>
    {% endblock %}
{% block bot %}
{% endblock %}