{% extends 'base.html' %}
{% block inicio %}<a class="navbar-brand" href="/">ezPosts</a> {% endblock %}
 {% block busquedaForm %}
 {% endblock %}



{% block metacontent %}
    <style>
            .stuck {
            position: fixed;
            width: 15%;
    }
    </style>
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

    <h2 class="titulo text-white">{% block titulo %}{{ post.titulo }}{% endblock %}</h2>
     <link href="/static/css/post.detail.css"  rel="stylesheet"/>
        <div class="col-md-12 border marco" id="contenido">
            {% if user.is_authenticated and post.publicacion.autor.id == user.id %}
                <h6>Creado: {{ post.publicacion.fecha_creacion }}</h6>
                <a href="{% url 'posts:editar_post' post.pk  %}"><button class="btn btn-dark">Actualizar</button></a>
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Eliminar</button>
                 <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title titulo">Confirmar</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Desea eliminar el Post?</strong></p>
                                        <img style="width: 100%; height: auto; object-fit: contain;" src="http://127.0.0.1:8000/media/{{ post.portada }}">
                                    </div>
                                <div class="modal-footer" style="background-color: black;">
                                    <a href="{% url 'posts:eliminar_post' post.pk  %}">
                                        <button type="button" class="btn btn-danger">Eliminar</button>
                                    </a>
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>

                        </div>
                    </div>
            {% else %}
            <h6> {{ post.publicacion.autor.username }}</h6>
            <h6>Creado: {{ post.publicacion.fecha_creacion }}</h6>
                        {% if not existe_denuncia %}
                        {% if user.is_authenticated %}
                        <div class="dropdown" id="contenedor">
                                        <button id="btn_tip_denuncias"
                                                class="btn btn-dark btn-small dropdown-toggle"
                                                type="button" data-toggle="dropdown">Denunciar
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu fondo-transparente-negro" style="border-color: white"
                                            id="tipo_denuncias">

                                        </ul>
                        </div>
                        {% endif %}
                        {% else %}
                            <h6 style="color: darkred;"><strong>Has denunciado este post</strong></h6>
                        {% endif %}

            {% endif %}
             {{ post.contenido | safe }}
        </div>
        </div>
        <div class="col-md-2">
                    <div class="card stuck" style="background-color: black">
                        <img class="card-img-top" src="http://{{ request.get_host }}/media/{{ post.publicacion.autor.perfil.foto_perfil }}" alt="Foto de perfil">
                        <div class="card-body">
                            <h5 class="card-title text-white titulo">{{ post.publicacion.autor.username }}</h5>
                            <p class="card-text text-white">Publicaciones: {{ post.publicacion.autor.publicacion_set.count }}</p>
                            <a href="/usuario/perfil/{{ post.publicacion.autor.id }}" class="btn btn-light btn-block">Ver perfil</a>
                        </div>
                    </div>
                </div>
    </div>
    {% block js %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script>



        let $boton_denuncias = $("#btn_tip_denuncias");
        let $bloque_padre = $("#tipo_denuncias");
        let $contenedor = $("#contenedor");
        let u_id = {% if user.id  %}{{ user.id }}{% else %}''{% endif %}
        const id_publicacion = {{ post.publicacion.id }}

         console.log("id_usuario", u_id);



        $boton_denuncias.click(
            () =>{
                const url = "/post/tipos_denuncias";
                $.get(url,
                    (data)=>{
                        $bloque_padre.empty();
                        llenarMenu(data)
                    }
                )
            });
        function llenarMenu(datos) {
        datos.results.forEach(
                (dato) => {
                    const html = $(`<li value=${dato.id}><a id="tipo_denuncia" class="dropdown-item text-white" href="#">${dato.nombre_tipo_denuncia}</a></li>`);
                    $bloque_padre.append(html);
                    html.click(
                        ()=>{
                            const id_tipo =html.val();
                            const url = `/post/denuncia/${id_publicacion}/${id_tipo}/`;
                            $.get(
                                url,
                                (data)=>{
                                    console.log(data);
                                    if(data.respuesta === 'OK'){
                                        $contenedor.empty();
                                        $contenedor.append('<h6 style="color: darkred;"><strong>Has denunciado este post</strong></h6>')
                                    }else {
                                        $contenedor.append('<h4 style="color: darkred;">Error del servidor </h4>')
                                    }
                                }

                            )
                        }
                    );
                }
            );

        }


    </script>
    {% endblock %}
{% endblock %}

{% block titulo_acerca %}Acerca del autor:{% endblock %}
 {% block contenidoAutor %}
        <img src="http://{{ request.get_host }}/media/{{ post.publicacionautor.perfil.foto_perfil }}"
             class="rounded-circle" alt="Cinque Terre" height="128" width="128"/>
        <a href=""><h4>{{ post.publicacion.autor.username }}</h4></a>
        <a><h4>Posts publicados:{{ post.publicacion.autor.publicacion_set.count }}</h4></a>
 {% endblock %}