* {
  box-sizing: border-box;
}


.menu {
  float:left;
  width:20%;
}

.menu a {
  padding:8px;
  margin-top:7px;
  display: inline-block;
  width:100%;
  color:black;

}

.left{
  float: left;
  width: 20%
}

.main {
  float: left;
  width:60%;
  padding:0 20px;

}

.main-info{
  float: left;
  width:60%;
  padding:0 20px;
  background: white;
}

.main-profile{
  display:block ;
  width:60%;
  padding:0 20px;
  margin-left: auto;
  margin-right: auto;
  background: white
}

.right {
  float: right;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

  .titulo{
    border-bottom: 6px solid #ff133d;
  }

    .titulo-top{
    border-top: 6px solid #000000;
  }

   .titulo-top-claro{
    border-top: 6px solid #ff133d;
  }

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    height:30% ;
    width: 100%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

  .borde {
  border: 1px solid lightgrey;
  border-radius: 5px;

}

  .fondo-transparente-negro{
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

.btn-espaciado{
  margin-top: 15px;
  margin-bottom: 15px;
}

.rojo{
  color: #ff133d;
}

.dropdown-menu>a:hover {
   color: #f3f5f5;
   text-decoration: none;
   background-color: #8a0e1b;
}
.dropdown-menu>li>a:hover {
   color: #f3f5f5;
   text-decoration: none;
   background-color: #8a0e1b;
}


code {
  border: 1px solid black;
  border-radius: 5px;

}
#id_contenido { width: auto !important; }
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }


}