* {
  box-sizing: border-box;
}


.menu {
  float:left;
  width:20%;
}

.menu a {
  padding:8px;
  margin-top:7px;
  display: inline-block;
  width:100%;
  color:black;

}

.left{
  float: left;
  width: 20%
}

.main {
  float: left;
  width:60%;
  padding:0 20px;

}

.main-info{
  float: left;
  width:60%;
  padding:0 20px;
  background: white;
}

.main-profile{
  display:block ;
  width:60%;
  padding:0 20px;
  margin-left: auto;
  margin-right: auto;
  background: white
}

.right {
  float: right;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

  .titulo{
    border-bottom: 6px solid #ff133d;
  }

    .titulo-top{
    border-top: 6px solid #000000;
  }

  .borde {
  border: 1px solid lightgrey;
  border-radius: 5px;

}

code {
  border: 1px solid black;
  border-radius: 5px;

}
#id_contenido { width: auto !important; }
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }


}