@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 600px;
  }
  .blog-card a:hover {
  color: #ff133d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

  .blog-card .details, .blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: white;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }


}
